PORT=8080
MONGODB_URI=your_mongodb_uri
NODE_ENV=development

AWS_BUCKET_NAME=your_bucket_name
AWS_BUCKET_REGION=your_bucket_region
AWS_ACCESS_KEY=YOUR_AWS_ACCESS_KEY
AWS_SECRET_KEY=YOUR_AWS_SECRET_KEY
